:host {
  ::ng-deep {
    .ng-select:hover {
      border: 1px solid var(--color2) !important;
    }
    .ng-select .ng-select-container {
      background-color: transparent;
      border: none;
      width: 100%;
      height: auto !important;
      min-height: 20px;

      &:hover {
        border: none;
        box-shadow: none;
      }

      .ng-arrow-wrapper {
        display: none;
      }
    }
    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      top: 0;
      padding: 0px;
      outline: 0px;
      height: auto !important;
      min-height: 20px;
    }

    .ng-select .ng-select-container .ng-value-container {
      padding-left: 0px;
      border: none;
      box-shadow: none;
      outline: none;
    }

    .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
      border: none;
      box-shadow: none;
    }

    .ng-select .ng-dropdown-panel {
      padding: 8px !important;
      border: none !important;
      outline: none !important;
      box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1) !important;
      border-radius: 16px !important;

      .ng-option {
        transition: all 0.12s linear !important;
        padding: 14px 16px !important;
        font-size: 16px !important;
        line-height: 24px !important;
        border-radius: 8px !important;

        &.ng-option-selected {
          background-color: #E0FADE !important;
          color: #25252B !important;

          .ng-option-label {
            font-weight: normal !important;
          }
        }

        &.ng-option-selected.ng-option-marked {
          background-color: #E0FADE !important;
          color: #25252B !important;

          .ng-option-label {
            font-weight: normal !important;
          }
        }

        &.ng-option-marked {
          background-color: #F6F6FB !important;
          color: #25252B !important;
        }
      }
    }

    .ng-select {
      .ng-value {
        color: #25252B !important;
        width: 100%;
      }
    }

    .ng-select.disabled-select {
      .ng-value {
        color: var(--color-BEBEC6) !important;
      }
    }

    .ng-select.select-mode-view {
      .ng-value {
        color: var(--black-color) !important;
      }
    }

    .ng-select-disabled {
      background-color: #EFEFF4;
    }
    .form-floating {
      &>.form-select.disabled-select {
        background-image: none !important;
      }

      &>.form-select~label {
        font-size: 12px;
        font-weight: 700;
        transform: scale(0.9) translateY(-0.5rem) translateX(0.1rem);
      }

      &:hover {
        .form-select.select-custom.disabled-select {
          box-shadow: none !important;
        }

        .form-select.select-custom.select-mode-view {
          box-shadow: none !important;
        }
      }

      &:focus-within {
        .form-select.select-custom.ng-select {
          box-shadow: inset 0 0 1px 1px var(--color2) !important;
          border: 0 !important;
        }

        &>.form-select~label {
          color: var(--color2) !important;
          font-size: 12px;
          font-weight: 400;
          transform: scale(0.9) translateY(-0.5rem) translateX(0.1rem) !important;
        }

        .form-select.select-custom.select-mode-view {
          box-shadow: none !important;
        }
      }

      .ng-select-opened {
        box-shadow: inset 0 0 1px 1px var(--color2) !important;

        &~label {
          color: var(--color2);
        }

        .ng-dropdown-panel {

          /* width */
          ::-webkit-scrollbar {
            width: 8px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(209, 209, 209);
            border-radius: 10px;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: rgb(189, 189, 189);
            border-radius: 10px;
          }

          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #838383;
          }
        }
      }
    }
     input.form-control:placeholder-shown ~ label {
      color: #BEBEC6 !important;
      font-weight: 400;
      font-size: 16px;
      padding-top: 20px;
      opacity: 1 !important;
      transform: scale(1) translateY(0rem) translateX(0rem);
    }
  }
}

