    
        <b:section class='secIn' cond='!data:view.isPreview' id='notif-widget' maxwidgets='1' showaddelement='false'>
            <b:widget id='HTML0' locked='true' title='Notification' type='HTML' version='2' visible='true'>
              <b:widget-settings>
                <b:widget-setting name='content'>&lt;!--[ Your content here, Lorem ipsum dolor sit amet, consectetur adipiscing elit. ]--&gt;
  
  &lt;!--[ Alternatif content with button link ]--&gt;
  &lt;div class=&#39;ntfA&#39;&gt; 
    &lt;span&gt;
  
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. &lt;a href=&#39;#&#39;&gt;Test link&lt;/a&gt;
  
    &lt;/span&gt; 
    &lt;!-- &lt;a href=&#39;https://theme.jagodesain.com/2020/05/template-median-ui.html&#39;&gt;Get now!&lt;/a&gt; --&gt;
  &lt;/div&gt;</b:widget-setting>
              </b:widget-settings>
              <b:includable id='main'>
                <input class='ntfI hidden' id='forNft' type='checkbox'/>
                <div class='ntfC'>
                  <div class='ntfT'><data:content/></div>
                  <label aria-label='Close Menu' class='c' for='forNft'/>
                </div>
              </b:includable>
            </b:widget>
          </b:section>