<div class="chrome mac-os">
    <div class="top-row">
      <div class="mac-os-controls">
        <ul>
          <li class="os-close"><svg class="OS-Close" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><line x1="1.88" y1="1.88" x2="7.12" y2="7.12" style="fill:none;stroke:#4d0000;stroke-linecap:round;stroke-miterlimit:10"/><line x1="7.12" y1="1.88" x2="1.88" y2="7.12" style="fill:none;stroke:#4d0000;stroke-linecap:round;stroke-miterlimit:10"/></svg></li>
          <li class="os-minimize"><svg class="OS-Minimize" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><line x1="0.94" y1="4.5" x2="8.06" y2="4.5" style="fill:none;stroke:#995700;stroke-linecap:round;stroke-miterlimit:10"/></svg></li>
          <li class="os-expand"><svg class="OS-Expand" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><path d="M1.54,3.15V6.74a.76.76,0,0,0,.76.76H5.89Z" style="fill:#060"/><path d="M3.11,1.5H6.7a.76.76,0,0,1,.76.76V5.85Z" style="fill:#060"/></svg></li>
        </ul>
      </div>
      <div class="tabs">
        <ul>
          <li class="in-focus" id="tab1">
            <span class="favicon"></span>
            <p>VetGo builder</p>
            <button class="close"><p class="hidden">Close Tab</p><svg class="svg-close" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><path d="M5.56,4.5,8.21,1.85A.75.75,0,0,0,7.15.79L4.5,3.44,1.85.79A.75.75,0,0,0,.79,1.85L3.44,4.5.79,7.15a.75.75,0,0,0,0,1.06.75.75,0,0,0,1.06,0L4.5,5.56,7.15,8.21a.75.75,0,0,0,1.06,0,.75.75,0,0,0,0-1.06Z" style="fill:#3c4043"/></svg></button>
            <span class="round"></span>
          </li>
          <li id="tab2">
            <span class="favicon"></span>
            <p>New Incognito Tab</p>
            <button class="close"><p class="hidden">Close Tab</p><svg class="svg-close" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9"><path d="M5.56,4.5,8.21,1.85A.75.75,0,0,0,7.15.79L4.5,3.44,1.85.79A.75.75,0,0,0,.79,1.85L3.44,4.5.79,7.15a.75.75,0,0,0,0,1.06.75.75,0,0,0,1.06,0L4.5,5.56,7.15,8.21a.75.75,0,0,0,1.06,0,.75.75,0,0,0,0-1.06Z" style="fill:#3c4043"/></svg></button>
            <span class="round"></span>
          </li>
        </ul>
      </div>
      
      <div class="divider"></div>
      
      <div class="new-tab">
        <svg class="svg-new" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M12.05,6H8V2A1,1,0,0,0,6,2V6H2A1,1,0,0,0,2,8H6v4.05a1,1,0,0,0,2,0V8h4.05a1,1,0,0,0,0-2Z" style="fill:#3c4043"/></svg>
      </div>
      
    </div>
    
    <div class="middle-row">
      
      <div class="browser-controls">
        
        <ul>
          <li><a href="javascript:history.back()"><svg class="svg-back" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M13.27,6.62H3.84L7.47,3A.88.88,0,0,0,6.23,1.76L1.11,6.88a.88.88,0,0,0,0,1.24l5.12,5.12a.89.89,0,0,0,.62.26.87.87,0,0,0,.62-.26.88.88,0,0,0,0-1.24L3.84,8.38h9.43a.88.88,0,1,0,0-1.76Z" style="fill:#5f6368"/></svg></a></li>
            <li class="forward"><svg class="svg-forward" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M13.89,6.88,8.77,1.76A.88.88,0,0,0,7.53,3l3.63,3.62H1.73a.88.88,0,0,0,0,1.76h9.43L7.53,12a.88.88,0,0,0,0,1.24.87.87,0,0,0,.62.26.89.89,0,0,0,.62-.26l5.12-5.12A.88.88,0,0,0,13.89,6.88Z" style="fill:#babcbe"/></svg></li>
              <li><svg class="svg-refresh" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M14.28,6.62v-5L12.47,3.43A6.61,6.61,0,1,0,13.55,10a.88.88,0,0,0-1.64-.63,4.87,4.87,0,1,1-.68-4.74l-2,2Z" style="fill:#5f6368"/></svg></li>
        </ul>
        
      </div>
      
      <div class="omnibar" tabindex="0">
        <ul>
          <li><svg class="svg-ssl" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M9.06,4.15H8.58v-1A2.41,2.41,0,0,0,6.18.76H5.82a2.41,2.41,0,0,0-2.4,2.41v1H2.94A.94.94,0,0,0,2,5.09v5.12a.94.94,0,0,0,.94.94H9.06a.94.94,0,0,0,.94-.94V5.09A.94.94,0,0,0,9.06,4.15Zm-4.64-1a1.41,1.41,0,0,1,1.4-1.41h.36a1.41,1.41,0,0,1,1.4,1.41v1H4.42Z" style="fill:#626365"/></svg></li>
          
          <li class="url"><p>https://vetgo.vn/builder</p></li>
          
          <li class="favorite"><svg class="svg-favorite" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8,3.87,9.08,6.72l.25.64h3.31l-1.88,1.5-.5.39.15.62.69,3-2.57-1.6L8,10.89l-.53.33-2.58,1.6.7-3,.15-.62-.5-.39L3.36,7.36H6.68l.24-.64L8,3.87M8,1.06,6,6.36H.5L4.62,9.64l-1.26,5.3L8,12.07l4.64,2.87-1.26-5.3L15.5,6.36H10L8,1.06Z" style="fill:#626365"/></svg></li>
        </ul>
      </div>
      
      <div class="settings">
        <ul>
          <!--<li class="divider"></li> -->
          <!--<li>Profile</li> -->
          <li><p class="hidden">More</p><svg class="svg-more" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 14"><circle cx="2" cy="2.07" r="1.5" style="fill:#5f6368"/><circle cx="2" cy="7.09" r="1.5" style="fill:#5f6368"/><circle cx="2" cy="12.11" r="1.5" style="fill:#5f6368"/></svg></li>
        </ul>
      </div>
      
    </div>
    
    <div class="the-website">
        <ng-content></ng-content>
    </div>
    
  </div>