:root {
  --color1: #ffffff;
  --color2: #22577e;
  --color3: rgba(120, 190, 195, 0.2);
  --color4: #acb3bf;
  --color5: #ff7575;
  --color6: #ff0000;
  --color7: rgba(255, 0, 0, 0.2);
  --color8: #feea37;
  --color9: rgba(255, 230, 0, 0.2);
}
