:host {
  width: 100vw;
}
.inactive-color {
  color: var(--inactive-color);
}
.theme-color {
  color: var(--theme-color);
}
.default-avatar {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--theme-color);
  margin-left: 22px;
}
.dropdown-container {
  > button {
    background-color: var(--content-bg);
  }
}
