<b:section id='id-menu' name='Menu' showaddelement='no'>
    <b:widget id='HTML3' locked='true' title='Main Menu' type='HTML' version='2' visible='true'>
        <b:widget-settings>
            <b:widget-setting name='content'>Vào Chỉnh sửa HTML để chỉnh</b:widget-setting>
        </b:widget-settings>
        <b:includable id='main'>
            <ul class='nav' id='nav'>
                <li class='nav-item active'>
                    <a class='nav-link' href='/' title='Trang chủ'>Trang chủ</a>
                </li>
                <li class='nav-item '>
                    <a class='nav-link' href='/p/gioi-thieu.html' title='Giới thiệu'>Giới thiệu</a>
                </li>
                <li class=' nav-item has-childs has-mega'>
                    <a class='nav-link' href='/search/label/san-pham' title='Sản phẩm'>Sản phẩm <svg height='25px' style='enable-background:new 0 0 490.656 490.656;' viewBox='0 0 490.656 490.656' width='25px' x='0px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' y='0px'>
              <path class='active-path' d='M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0 c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667 C491.696,131.368,491.696,124.605,487.536,120.445z' data-old_color='#000000' data-original='#000000' fill='#141414'/>
            </svg></a>
                    <div class='mega-content'>
                        <div class='container'>
                            <ul class='level0'>
                                <li class='level1 parent item fix-navs'>
                                    <a class='hmega' href='/search/label/thuc-an-dinh-duong' title='Thức ăn, dinh dưỡng'>Thức ăn, dinh dưỡng</a>
                                    <ul class='level1'>
                                        <li class='level2'>
                                            <a href='/search/label/thuc-an-hat-kho' title='Thức ăn hạt khô'>Thức ăn hạt khô</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/pate-nuoc-sot' title='Pate &amp; Nước sốt'>Pate &amp; Nước sốt</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/snack-banh-thuong' title='Snack &amp; Bánh thưởng'>Snack &amp; Bánh thưởng</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/vitamin-dinh-duong' title='Vitamin &amp; Dinh dưỡng'>Vitamin &amp; Dinh dưỡng</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/co-meo-catnip' title='Cỏ mèo &amp; Catnip'>Cỏ mèo &amp; Catnip</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/bat-an-binh-uong-nuoc' title='Bát ăn &amp; Bình uống nước'>Bát ăn &amp; Bình uống nước</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class='level1 parent item fix-navs'>
                                    <a class='hmega' href='/search/label/ve-sinh-cham-soc' title='Vệ sinh, Chăm sóc'>Vệ sinh, Chăm sóc</a>
                                    <ul class='level1'>
                                        <li class='level2'>
                                            <a href='/search/label/khay-nha-ve-sinh' title='Khay &amp; Nhà vệ sinh'>Khay &amp; Nhà vệ sinh</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/cat-ve-sinh-cho-meo' title='Cát vệ sinh cho mèo'>Cát vệ sinh cho mèo</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/sua-tam-xit-duong' title='Sữa tắm &amp; Xịt dưỡng'>Sữa tắm &amp; Xịt dưỡng</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/luoc-chai-long-cat-mong' title='Lược chải lông &amp; Cắt móng'>Lược chải lông &amp; Cắt móng</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class='level1 parent item fix-navs'>
                                    <a class='hmega' href='/search/label/do-dung-phu-kien' title='Đồ dùng, Phụ kiện'>Đồ dùng, Phụ kiện</a>
                                    <ul class='level1'>
                                        <li class='level2'>
                                            <a href='/search/label/quan-ao-trang-suc' title='Quần áo &amp; Trang sức'>Quần áo &amp; Trang sức</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/vong-co-day-dat' title='Vòng cổ &amp; Dây dắt'>Vòng cổ &amp; Dây dắt</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/tui-xach-long-van-chuyen' title='Túi xách &amp; Lồng vận chuyển'>Túi xách &amp; Lồng vận chuyển</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/do-choi-huan-luyen' title='Đồ chơi &amp; Huấn luyện'>Đồ chơi &amp; Huấn luyện</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class='level1 parent item fix-navs'>
                                    <a class='hmega' href='/search/label/nha-chuong-nem' title='Nhà, chuồng, nệm'>Nhà, chuồng, nệm</a>
                                    <ul class='level1'>
                                        <li class='level2'>
                                            <a href='/search/label/nha-meo-nha-cay-cattree' title='Nhà mèo &amp; Nhà cây Cattree'>Nhà mèo &amp; Nhà cây Cattree</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/tru-cot-ban-cao-mong' title='Trụ cột &amp; Bàn cào móng'>Trụ cột &amp; Bàn cào móng</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/chuong-meo-1-2-3-tang' title='Chuồng mèo 1, 2, 3 tầng'>Chuồng mèo 1, 2, 3 tầng</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/o-nem-tham-dem' title='Ổ nệm &amp; Thảm đệm'>Ổ nệm &amp; Thảm đệm</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class='level1 parent item fix-navs'>
                                    <a class='hmega' href='/search/label/y-te-thuoc-cho-meo' title='Y tế &amp; thuốc cho mèo'>Y tế &amp; thuốc cho mèo</a>
                                    <ul class='level1'>
                                        <li class='level2'>
                                            <a href='/search/label/tay-xo-giun-san' title='Tẩy xổ giun &amp; sán'>Tẩy xổ giun &amp; sán</a>
                                        </li>
                                        <li class='level2'>
                                            <a href='/search/label/tri-ve-ran-bo-chet' title='Trị ve rận &amp; bọ chét'>Trị ve rận &amp; bọ chét</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class='level1 item'>
                                    <a class='hmega' href='/search/label/phu-kien-khuyen-mai' title='Phụ kiện khuyến mãi'>Phụ kiện khuyến mãi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='nav-item '>
                    <a class='nav-link' href='/search/label/san-pham-moi-ve' title='Sản phẩm mới về'>Sản phẩm mới về</a>
                </li>
                <li class='nav-item '>
                    <a class='nav-link' href='/search/label/khuyen-mai-trong-ngay' title='Khuyến mãi trong ngày'>Khuyến mãi trong ngày</a>
                </li>
                <li class='nav-item '>
                    <a class='nav-link' href='/search/label/tin-tuc' title='Tin tức'>Tin tức</a>
                </li>
                <li class='nav-item '>
                    <a class='nav-link' href='/p/lien-he.html' title='Liên hệ'>Liên hệ</a>
                </li>
                <li class='nav-item booking-calendar-item '>
                    <a class='nav-link' href='/p/dat-lich-dich-vu.html' title='Đặt lịch dịch vụ'><svg class='' height='512' style='enable-background:new 0 0 512 512' version='1.1' viewBox='0 0 512 512' width='512' x='0' xml:space='preserve' y='0'>
              <path class='' d='m457 60h-36v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-150v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-36c-30.327 0-55 24.673-55 55v342c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-342c0-30.327-24.673-55-55-55zm-96-15c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-240 0c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-91 70c0-13.785 11.215-25 25-25h36v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h150v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h36c13.785 0 25 11.215 25 25v67h-452zm452 342c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-245h452z' data-original='#000000' fill='#ffffff' style=''/>
              <path class='' d='m306.764 272h23.473v165c0 8.284 6.716 15 15 15s15-6.716 15-15v-180c0-8.284-6.716-15-15-15h-38.473c-8.284 0-15 6.716-15 15s6.715 15 15 15z' data-original='#000000' fill='#ffffff' style=''/>
              <path class='' d='m211.764 422c-14.886 0-27.658-11.09-29.71-25.796-.192-1.378-.29-2.792-.29-4.204 0-8.284-6.716-15-15-15s-15 6.716-15 15c0 2.793.194 5.603.577 8.35 4.109 29.445 29.655 51.65 59.423 51.65 33.084 0 60-26.916 60-60 0-17.908-7.896-33.997-20.377-45 12.481-11.003 20.377-27.092 20.377-45 0-33.084-26.916-60-60-60-28.607 0-53.367 20.35-58.874 48.387-1.597 8.129 3.699 16.013 11.828 17.61 8.12 1.596 16.012-3.699 17.609-11.828 2.751-14.004 15.131-24.169 29.437-24.169 16.542 0 30 13.458 30 30s-13.458 30-30 30c-8.284 0-15 6.716-15 15s6.716 15 15 15c16.542 0 30 13.458 30 30s-13.458 30-30 30z' data-original='#000000' fill='#ffffff' style=''/>
            </svg> Đặt lịch dịch vụ</a>
                </li>
            </ul>
        </b:includable>
    </b:widget>
</b:section>
