<ion-accordion-group>
    <ion-accordion value="1">
      <ion-item slot="header" color="light">
        <ion-label>Container Properties</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="2">
      <ion-item slot="header" color="light">
        <ion-label>Padding & Alignment</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="3">
      <ion-item slot="header" color="light">
        <ion-label>Background Image</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  <ion-accordion value="4">
    <ion-item slot="header" color="light">
      <ion-label>Background Image</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>
  <ion-accordion value="5">
    <ion-item slot="header" color="light">
      <ion-label>Visibility</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>
  </ion-accordion-group>
