:host {
--ion-padding: 8px;
color: var(--ion-text-color, #000);
}
ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

ion-radio-group {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  border: 1px solid #eaebee;
  border-radius: 8px;
  padding: 8px;
}
