

      <form class="form-card">
        <p class="form-card-title">We're email your number to confirm it
          <span class="icon-[simple-icons--simplelogin] text-4xl"></span>
        </p>
        <p class="form-card-prompt">Enter last 4 digits of the number we are email you from</p>
        <div class="form-card-input-wrapper">
          <input [ngClass]="{'disabled' : loading}" [formControl]="otp" class="form-card-input" placeholder="____" maxlength="4" type="tel">
          <div class="form-card-input-bg"></div>
        </div>

        <p class="call-again">
          @if(loading) {
            <ion-spinner role="progressbar" ></ion-spinner>
          } @else {
            <span (click)="nextStep.emit(OnBoardStep.forgot)" class="underlined">
              send again</span> in {{count()}} seconds
          }
        </p>
      </form>


