<ion-accordion-group #accordionGroup>
  @if(element) { @for (item of element | keyvalue; track $index) {
  <ion-accordion style="--ion-padding: 0" [value]="item.key">
    <ion-item slot="header" color="light">
      <ion-label>{{item.key}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list style="--ion-padding: 0; margin: 0" [inset]="true">
        @for (it of item.value; track $index) {
        <ion-item (click)="selectEl(it)" class="cursor-pointer">
          <ion-label>{{it.label}}</ion-label>
        </ion-item>
        }
      </ion-list>
    </div>
  </ion-accordion>
  }}
</ion-accordion-group>
