@if(parentNode(); as uiElement) {
  {{log()}}
  <div class="flex flex-column  ">
    <ion-searchbar mode="ios" show-clear-button="always"></ion-searchbar>
    <ul class="tree h-[calc(100vh_-_60px)] overflow-y-auto">
      <li>
        @if(uiElement.children && Object.keys(uiElement.children).length > 0) {
          @if(uiElement.attributes && uiElement.attributes['open'] ) {
            <ion-icon (click)="collapse(uiElement, false)" class="icon-collapse text-2xl cursor-pointer" name="chevron-down-circle" ></ion-icon>
          } @else {
            <ion-icon (click)="collapse(uiElement, true)" class="icon-collapse text-2xl cursor-pointer" name="chevron-forward-circle" ></ion-icon>
          }
          <div class="details" >
            <div (click)="selectEl($event,uiElement)" class="summary {{currentNodeActive()?.id === uiElement.id ? 'active' : ''}}" >
              {{uiElement.label}}
            </div>
            @if(uiElement.attributes && uiElement.attributes['open'] ) {
              <ul>
                @for( item of uiElement.children | keyvalue:  orderOriginal; track item.value.id ) {
                  <li>
                    <ng-container
                      *ngTemplateOutlet="inner; context: { children: item.value }">
                    </ng-container>
                  </li>
                }
              </ul>
            }
          </div>
        } @else {
          <div (click)="selectEl($event,uiElement)" class="{{currentNodeActive()?.id === uiElement.id ? 'active' : ''}}">
          {{uiElement.label}}
          </div>
        }
      </li>
    </ul>
    <ng-template #inner let-children="children">
      @if(children.children && Object.keys(children.children).length > 0) {
        @if(children.attributes && children.attributes['open'] ) {
          <ion-icon (click)="collapse(children, false)" class="icon-collapse text-2xl cursor-pointer" name="chevron-down-circle" ></ion-icon>
        } @else {
          <ion-icon (click)="collapse(children, true)" class="icon-collapse text-2xl cursor-pointer" name="chevron-forward-circle" ></ion-icon>
        }
        <div class="details">
          <div class="group ">
            <div class="flex items-center cursor-pointer summary">
              <div (click)="selectEl($event,children)" class="{{currentNodeActive()?.id === children.id ? 'active' : ''}}">
                {{children.label}}
              </div>
              <ion-icon (click)="presentPopover(children,$event)" name="add-circle" class="hidden group-hover:flex ml-1 text-2xl"></ion-icon>
              <ion-icon (click)="removeNode(children)"  name="trash-outline" class="hidden group-hover:flex text-2xl cursor-pointer"></ion-icon>
            </div>
          </div>
          @if(children.attributes && children.attributes['open'] ) {
            <ul >
              @for( item of children.children | keyvalue:  orderOriginal; track $any(item.value).id ) {
                <li>
                  <ng-container
                    *ngTemplateOutlet="inner; context: { children: item.value }">
                  </ng-container>
                </li>
              }
            </ul>
          }
        </div>
      } @else {

        @if(children.children) {
          <div class="group ">
            <!-- Thẻ chính -->
            <div  class="flex items-center cursor-pointer summary">
              <div (click)="selectEl($event,children)" class="{{currentNodeActive()?.id === children.id ? 'active' : ''}}">
                {{children.label}}
              </div>
              <ion-icon (click)="presentPopover(children,$event)" name="add-circle" class="hidden group-hover:flex ml-1 text-2xl"></ion-icon>
              <ion-icon (click)="removeNode(children)" name="trash-outline" class="hidden group-hover:flex  text-2xl cursor-pointer"></ion-icon>
            </div>
          </div>
        } @else {
          <div class="group flex items-center cursor-pointer">
            <div (click)="selectEl($event,children)" class="{{currentNodeActive()?.id === children.id ? 'active' : ''}}">
            {{children.label}}
            </div>
            <ion-icon (click)="removeNode(children)"  name="trash-outline" class="hidden group-hover:flex ml-2 text-2xl cursor-pointer"></ion-icon>
          </div>

        }
      }
    </ng-template>
  </div>

}


