/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "theme/color.scss";
@import './../src/app/modules/form-field/fields.scss';
@import "./../src/app/modules/glass-morphism/glass-morphism.scss";

@import "theme/tailwind.scss";
:root.theme-dark {
  color-scheme: dark;
}

.preview-iframe {
  /* tell browsers to make the iframe opaque
     for documents with color-scheme:dark */
  color-scheme: light;
  background-color: white;
}
    .builder-mode {
      position: relative;
      &:hover {
        border: 0.01px solid orange;
        & > .label-builder-mode {
          display: block;
        }
      }
       .label-builder-mode {
      width: auto;
      display: none;
      background-color: orange;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      font-weight: bold;
      border: 1px solid orange;
      border-radius: 0 0 4px 4px;
      padding: 0 4px 2px 4px;
      color: white;
    }
    .min-h-25 {
      min-height: 25px;
    }
   }

